USE [cas_764_data_management_project]
GO
/****** Object:  StoredProcedure [dbo].[create_combined_demographics_data]    Script Date: 2022-12-11 8:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create_combined_demographics_data]
AS
BEGIN

-- 2017 - 2018

/****** Script for SelectTopNRows command from SSMS  ******/

truncate table CombinedDemographicsData;

insert into CombinedDemographicsData (

[DataYear]
, [SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]
      ,[DMDHRAGZ_HH_ref_person_s_age_in_years]
      ,[DMDHREDZ_HH_ref_person_s_education_level]
      ,[DMDHRMAZ_HH_ref_person_s_marital_status]
      ,[DMDHSEDZ_HH_ref_person_s_spouse_s_education_level]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]

)
SELECT '2017-2018',
	   [SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]
      ,[DMDHRAGZ_HH_ref_person_s_age_in_years]
      ,[DMDHREDZ_HH_ref_person_s_education_level]
      ,[DMDHRMAZ_HH_ref_person_s_marital_status]
      ,[DMDHSEDZ_HH_ref_person_s_spouse_s_education_level]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
  FROM [cas_764_data_management_project].[dbo].[2017_2018_0_Demographic Variables and Sample Weights-DEMO_J.XPT]


-- 2015 - 2016
/****** Script for SelectTopNRows command from SSMS  ******/
insert into CombinedDemographicsData (		
	   [DataYear]
      ,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]                        
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
	  ) select '2015-2016'
 ,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]                        
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
  FROM [cas_764_data_management_project].[dbo].[2015_2016_Demographic Variables and Sample Weights-DEMO_I.XPT]

-- 2013 - 2014
	insert into CombinedDemographicsData (
		[DataYear]
	 ,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty])
	  
SELECT   '2013-2014'
		,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      ,[RIDEXPRG_Pregnancy_status_at_exam]
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
  FROM [cas_764_data_management_project].[dbo].[2013_2014_0_Demographic Variables and Sample Weights-DEMO_H.XPT]

  -- 2011 -- 20122

  /****** Script for SelectTopNRows command from SSMS  ******/
insert into CombinedDemographicsData
(
[DataYear]
,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender])

	SELECT
		'2011-2012'
		,[SEQN_Respondent_sequence_number]
      ,[SDDSRVYR_Data_release_cycle]
      ,[RIDSTATR_Interview_Examination_status]
      ,[RIAGENDR_Gender]
      ,[RIDAGEYR_Age_in_years_at_screening]
      ,[RIDAGEMN_Age_in_months_at_screening_0_to_24_mos]
      ,[RIDRETH1_Race_Hispanic_origin]
      ,[RIDRETH3_Race_Hispanic_origin_w_NH_Asian]
      ,[RIDEXMON_Six_month_time_period]
      
      ,[RIDEXAGM_Age_in_months_at_exam_0_to_19_years]
      ,[DMQMILIZ_Served_active_duty_in_US_Armed_Forces]
      ,[DMQADFC_Served_in_a_foreign_country]
      ,[DMDBORN4_Country_of_birth]
      ,[DMDCITZN_Citizenship_status]
      ,[DMDYRSUS_Length_of_time_in_US]
      ,[DMDEDUC3_Education_level_Children_Youth_6_19]
      ,[DMDEDUC2_Education_level_Adults_20]
      ,[DMDMARTL_Marital_status]
      
      ,[SIALANG_Language_of_SP_Interview]
      ,[SIAPROXY_Proxy_used_in_SP_Interview]
      ,[SIAINTRP_Interpreter_used_in_SP_Interview]
      ,[FIALANG_Language_of_Family_Interview]
      ,[FIAPROXY_Proxy_used_in_Family_Interview]
      ,[FIAINTRP_Interpreter_used_in_Family_Interview]
      ,[MIALANG_Language_of_MEC_Interview]
      ,[MIAPROXY_Proxy_used_in_MEC_Interview]
      ,[MIAINTRP_Interpreter_used_in_MEC_Interview]
      ,[AIALANGA_Language_of_ACASI_Interview]
      ,[WTINT2YR_Full_sample_2_year_interview_weight]
      ,[WTMEC2YR_Full_sample_2_year_MEC_exam_weight]
      ,[SDMVPSU_Masked_variance_pseudo_PSU]
      ,[SDMVSTRA_Masked_variance_pseudo_stratum]
      ,[INDHHIN2_Annual_household_income]
      ,[INDFMIN2_Annual_family_income]
      ,[INDFMPIR_Ratio_of_family_income_to_poverty]
      ,[DMDHHSIZ_Total_number_of_people_in_the_Household]
      ,[DMDFMSIZ_Total_number_of_people_in_the_Family]
      ,[DMDHHSZA_of_children_5_years_or_younger_in_HH]
      ,[DMDHHSZB_of_children_6_17_years_old_in_HH]
      ,[DMDHHSZE_of_adults_60_years_or_older_in_HH]
      ,[DMDHRGND_HH_ref_person_s_gender]
  FROM [cas_764_data_management_project].[dbo].[2011_2012_0_Demographic Variables & Sample Weights_DEMO_G.XPT]


END
GO
