USE [cas_764_data_management_project]
GO
/****** Object:  StoredProcedure [dbo].[create_a_class_group_dataset]    Script Date: 2022-12-11 8:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create_a_class_group_dataset]
AS
BEGIN
	/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [RIDAGEYR_Age_in_years_at_screening]
      ,[URDACT_Albumin_creatinine_ratio_mg_g]
      ,[DataYear]
      ,[SEQN - Respondent sequence number]
      ,[WTDRD1 - Dietary day one sample weight]
      ,[WTDR2D - Dietary two-day sample weight]
      ,[DR1ILINE - Food/Individual component number]
      ,[DR1DRSTZ - Dietary recall status]
      ,[DR1EXMER - Interviewer ID code]
      ,[DRABF - Breast-fed infant (either day)]
      ,[DRDINT - Number of days of intake]
      ,[DR1DBIH - # of days b/w intake and HH interview]
      ,[DR1DAY - Intake day of the week]
      ,[DR1LANG - Language respondent used mostly]
      ,[DR1CCMNM - Combination food number]
      ,[DR1CCMTX - Combination food type]
      ,[DR1_020 - Time of eating occasion (HH:MM)]
      ,[DR1_030Z - Name of eating occasion]
      ,[DR1FS - Source of food]
      ,[DR1_040Z - Did you eat this meal at home?]
      ,[DR1IFDCD - USDA food code]
      ,[DR1IGRMS - Grams]
      ,[DR1IKCAL - Energy (kcal)]
      ,[DR1IPROT - Protein (gm)]
      ,[DR1ICARB - Carbohydrate (gm)]
      ,[DR1ISUGR - Total sugars (gm)]
      ,[DR1IFIBE - Dietary fiber (gm)]
      ,[DR1ITFAT - Total fat (gm)]
      ,[DR1ISFAT - Total saturated fatty acids (gm)]
      ,[DR1IMFAT - Total monounsaturated fatty acids (gm)]
      ,[DR1IPFAT - Total polyunsaturated fatty acids (gm)]
      ,[DR1ICHOL - Cholesterol (mg)]
      ,[DR1IATOC - Vitamin E as alpha-tocopherol (mg)]
      ,[DR1IATOA - Added alpha-tocopherol (Vitamin E) (mg)]
      ,[DR1IRET - Retinol (mcg)]
      ,[DR1IVARA - Vitamin A, RAE (mcg)]
      ,[DR1IACAR - Alpha-carotene (mcg)]
      ,[DR1IBCAR - Beta-carotene (mcg)]
      ,[DR1ICRYP - Beta-cryptoxanthin (mcg)]
      ,[DR1ILYCO - Lycopene (mcg)]
      ,[DR1ILZ - Lutein + zeaxanthin (mcg)]
      ,[DR1IVB1 - Thiamin (Vitamin B1) (mg)]
      ,[DR1IVB2 - Riboflavin (Vitamin B2) (mg)]
      ,[DR1INIAC - Niacin (mg)]
      ,[DR1IVB6 - Vitamin B6 (mg)]
      ,[DR1IFOLA - Total folate (mcg)]
      ,[DR1IFA - Folic acid (mcg)]
      ,[DR1IFF - Food folate (mcg)]
      ,[DR1IFDFE - Folate, DFE (mcg)]
      ,[DR1ICHL - Total choline (mg)]
      ,[DR1IVB12 - Vitamin B12 (mcg)]
      ,[DR1IB12A - Added vitamin B12 (mcg)]
      ,[DR1IVC - Vitamin C (mg)]
      ,[DR1IVD - Vitamin D (D2 + D3) (mcg)]
      ,[DR1IVK - Vitamin K (mcg)]
      ,[DR1ICALC - Calcium (mg)]
      ,[DR1IPHOS - Phosphorus (mg)]
      ,[DR1IMAGN - Magnesium (mg)]
      ,[DR1IIRON - Iron (mg)]
      ,[DR1IZINC - Zinc (mg)]
      ,[DR1ICOPP - Copper (mg)]
      ,[DR1ISODI - Sodium (mg)]
      ,[DR1IPOTA - Potassium (mg)]
      ,[DR1ISELE - Selenium (mcg)]
      ,[DR1ICAFF - Caffeine (mg)]
      ,[DR1ITHEO - Theobromine (mg)]
      ,[DR1IALCO - Alcohol (gm)]
      ,[DR1IMOIS - Moisture (gm)]
      ,[DR1IS040 - SFA 4:0 (Butanoic) (gm)]
      ,[DR1IS060 - SFA 6:0 (Hexanoic) (gm)]
      ,[DR1IS080 - SFA 8:0 (Octanoic) (gm)]
      ,[DR1IS100 - SFA 10:0 (Decanoic) (gm)]
      ,[DR1IS120 - SFA 12:0 (Dodecanoic) (gm)]
      ,[DR1IS140 - SFA 14:0 (Tetradecanoic) (gm)]
      ,[DR1IS160 - SFA 16:0 (Hexadecanoic) (gm)]
      ,[DR1IS180 - SFA 18:0 (Octadecanoic) (gm)]
      ,[DR1IM161 - MFA 16:1 (Hexadecenoic) (gm)]
      ,[DR1IM181 - MFA 18:1 (Octadecenoic) (gm)]
      ,[DR1IM201 - MFA 20:1 (Eicosenoic) (gm)]
      ,[DR1IM221 - MFA 22:1 (Docosenoic) (gm)]
      ,[DR1IP182 - PFA 18:2 (Octadecadienoic) (gm)]
      ,[DR1IP183 - PFA 18:3 (Octadecatrienoic) (gm)]
      ,[DR1IP184 - PFA 18:4 (Octadecatetraenoic) (gm)]
      ,[DR1IP204 - PFA 20:4 (Eicosatetraenoic) (gm)]
      ,[DR1IP205 - PFA 20:5 (Eicosapentaenoic) (gm)]
      ,[DR1IP225 - PFA 22:5 (Docosapentaenoic) (gm)]
      ,[DR1IP226 - PFA 22:6 (Docosahexaenoic) (gm)]
  FROM [cas_764_data_management_project].[dbo].[dietaryIntakeDataForClassificationAndAnalysisData]
  where ([RIDAGEYR_Age_in_years_at_screening] >= 30) 
   and ([RIDAGEYR_Age_in_years_at_screening] < 61) 
  and ([URDACT_Albumin_creatinine_ratio_mg_g] < 3 )
  -- and ([URDACT_Albumin_creatinine_ratio_mg_g] < 31)
END
GO
